* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
body.modal-popup {
  background: #E5EAF3;
}

.row {
  display: flex;
}

.card, .settings-card {
  background: #fff;
  border-radius: 8px;
  width: 360px;
}

.settings-card {
  position: absolute;
  top: 184px;
  left: 114px;
}
.settings-card .card-header {
  display: flex;
  padding: 20px 32px;
}
.settings-card .card-header .title {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 44px;
}
.settings-card .card-header .button-group {
  margin-left: auto;
  width: 96px;
  height: 44px;
  display: flex;
}
.settings-card .card-header .button-group button {
  border: 1px solid #EFF2F7;
}
.settings-card .card-header .button-group .md-secondary {
  background-color: #fff;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  width: 48px;
  height: 44px;
}
.settings-card .card-header .button-group .md-primary {
  width: 48px;
  height: 44px;
  background: #fff;
  border: 1px solid #EFF2F7;
  border-left: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
.settings-card .card-body {
  padding: 20px 32px;
}
.settings-card .card-body ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
}
.settings-card .card-body ul li {
  display: inline-flex;
  padding: 22px 0;
  border-bottom: 1px solid #EFF2F7;
}
.settings-card .card-body ul li .left {
  margin-right: 20px;
  position: relative;
}
.settings-card .card-body ul li .left .icon-bg {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  padding: 18px;
}
.settings-card .card-body ul li .left .icon-bg.first {
  background: #932BFF;
}
.settings-card .card-body ul li .left .icon-bg.second {
  background: #00D0AF;
}
.settings-card .card-body ul li .right .percent {
  margin-left: 124px;
}
.settings-card .card-body ul li .right .progress-bg {
  background: #D7DEEC;
  width: 208px;
  height: 8px;
  border-radius: 4px;
  margin-top: 15px;
}
.settings-card .card-body ul li .right .progress-bg .progress {
  background: #932BFF;
  height: 8px;
  width: 78%;
  border-radius: 4px;
}
.settings-card .card-body .upload {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  border-bottom: 1px solid #EFF2F7;
}
.settings-card .card-body .upload .input-bg {
  border: 1px solid #EFF2F7;
  height: 44px;
  width: 276px;
  background: #FAFBFC;
  position: relative;
  top: 8px;
  margin-top: 6px;
}
.settings-card .card-body .upload .input-bg input {
  width: 180px;
  border: 0;
  background: #FAFBFC;
  position: relative;
  top: 4px;
  padding: 8px 0;
  text-indent: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}
.settings-card .card-body .upload .md-secondary {
  border: none;
  background: #fff;
  margin-left: auto;
  padding: 6px;
  box-shadow: 0px 60px 120px rgba(38, 51, 77, 0.03);
  margin-left: 40px;
  border: 1px solid #EFF2F7;
  position: absolute;
  top: 4px;
}
.settings-card .card-footer {
  display: flex;
  background: #F4F7FA;
  padding: 20px 32px;
}
.settings-card .card-footer a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  color: #7890B5;
  line-height: 40px;
}
.settings-card .card-footer .button-group {
  margin-left: auto;
  display: flex;
  column-gap: 8px;
}
.settings-card .card-footer .button-group button {
  padding: 12px 20px;
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: 600;
}
.settings-card .card-footer .button-group .md-secondary {
  border: none;
  background-color: #fff;
  color: #3A5683;
}
.settings-card .card-footer .button-group .md-primary {
  background: #932BFF;
  border: none;
  color: #fff;
}

.share-card {
  position: absolute;
  top: 132px;
  left: 962px;
  background: #fff;
  width: 360px;
}
.share-card .card-header {
  display: flex;
  padding: 20px 24px;
}
.share-card .card-body {
  padding: 24px;
}
.share-card .card-body .input-bg {
  height: 300px;
  border: 1px solid #EFF2F7;
}
.share-card .card-body .input-bg .message {
  width: 100%;
  resize: none;
  border: none;
  padding: 15px;
  font-family: "Inter", sans-serif;
}
.share-card .card-footer {
  display: flex;
  background: #F4F7FA;
  padding: 20px 32px;
}
.share-card .card-footer a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  color: #7890B5;
  line-height: 40px;
}
.share-card .card-footer .button-group {
  margin-left: auto;
  display: flex;
  column-gap: 8px;
}
.share-card .card-footer .button-group button {
  padding: 12px 20px;
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: 600;
}
.share-card .card-footer .button-group .md-secondary {
  border: none;
  background-color: #fff;
  color: #3A5683;
}
.share-card .card-footer .button-group .md-primary {
  background: #932BFF;
  border: none;
  color: #fff;
}

.event-card {
  position: absolute;
  top: 280px;
  left: 538px;
  background: #fff;
  width: 360px;
}
.event-card .card-header {
  display: flex;
  flex-direction: row;
  padding: 20px 24px;
}
.event-card .card-header .title {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 44px;
}
.event-card .card-header .event-icon {
  margin-left: auto;
  margin-top: 7px;
}
.event-card .card-body {
  padding: 0 24px;
}
.event-card .card-body .event-form {
  margin-top: 24px;
}
.event-card .card-body .event-form .input-group {
  width: 100%;
  border: 1px solid #EFF2F7;
  display: flex;
  height: 60px;
}
.event-card .card-body .event-form .input-group .number {
  margin-left: auto;
  background: #F4F7FA;
  padding: 4px 8px;
  font-size: 12px;
  height: 24px;
  border: 1px solid #EFF2F7;
  margin-top: 14px;
  margin-right: 18px;
}
.event-card .card-body .event-form .input-group input {
  border: none;
  text-indent: 15px;
  text-transform: capitalize;
  color: #7890B5;
}
.event-card .card-body .event-form .button-group {
  display: flex;
  column-gap: 10px;
  border: 1px solid #EFF2F7;
  margin-top: 24px;
}
.event-card .card-body .event-form .button-group button {
  width: 48%;
  border: none;
  padding: 12px 0;
  color: #57719D;
  font-weight: bold;
  text-transform: capitalize;
}
.event-card .card-body .event-form .button-group .event {
  background: #FAFBFC;
}
.event-card .card-body .event-form .button-group .reminder {
  background: #fff;
}
.event-card .card-body .event-form .colors {
  margin-top: 25px;
}
.event-card .card-body .event-form .colors .title {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.event-card .card-body .event-form .colors-list {
  display: flex;
  list-style: none;
}
.event-card .card-body .event-form .colors-list li {
  width: 32px;
  height: 32px;
  display: inline-flex;
  border-radius: 1rem;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 24px;
}
.event-card .card-body .event-form .colors-list li.red {
  background: #FB001D;
}
.event-card .card-body .event-form .colors-list li.orange {
  background: #FF5713;
}
.event-card .card-body .event-form .colors-list li.yellow {
  background: #FFC800;
}
.event-card .card-body .event-form .colors-list li.green {
  background: #00EAC9;
}
.event-card .card-body .event-form .colors-list li.blue {
  background: #00C2FF;
}
.event-card .card-body .event-form .colors-list li.purple {
  background: #932BFF;
}
.event-card .card-body .event-form .input-bg {
  padding: 0 24px;
}
.event-card .card-body .event-form .input-group .calendar-icon {
  margin-left: auto;
  margin-top: 15px;
  margin-right: 20px;
}
.event-card .card-body .event-form .times {
  display: flex;
  padding: 0;
  column-gap: 26px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.event-card .card-body .event-form .times .start-time,
.event-card .card-body .event-form .times .end-time {
  width: 48%;
}
.event-card .card-body .event-form .times .start-time input,
.event-card .card-body .event-form .times .end-time input {
  padding: 8px 0;
  border: 1px solid #EFF2F7;
  color: #7890B5;
  text-indent: 15px;
}
.event-card .card-body .event-form .times .end-time {
  margin-left: auto;
  margin-left: 3px;
}
.event-card .card-footer {
  display: flex;
  background: #F4F7FA;
  padding: 20px 32px;
}
.event-card .card-footer a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  color: #7890B5;
  line-height: 40px;
}
.event-card .card-footer .button-group {
  margin-left: auto;
  display: flex;
  column-gap: 8px;
}
.event-card .card-footer .button-group button {
  padding: 12px 20px;
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: 600;
}
.event-card .card-footer .button-group .md-secondary {
  border: none;
  background-color: #fff;
  color: #3A5683;
}
.event-card .card-footer .button-group .md-primary {
  background: #932BFF;
  border: none;
  color: #fff;
}

.toggle-ctrl {
  position: absolute;
  right: 32px;
  top: 180px;
  display: flex;
}
.toggle-ctrl input[type=checkbox] {
  appearance: none;
  border: 1px solid transparent;
  background: #F2F4F7;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  transition: 240ms background-color;
}
.toggle-ctrl input[type=checkbox]::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  transition: 240ms background-color, 240ms left;
  will-change: left;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}
.toggle-ctrl input[type=checkbox]:checked {
  background: #932BFF;
}
.toggle-ctrl input[type=checkbox]:checked::before {
  left: 20px;
  background: white;
  border: 1px solid #EFF2F7;
}

.new-message-card {
  background: #fff;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 8px;
  flex-direction: column;
  overflow: hidden;
  width: 34.5em;
  height: 36.375em;
}
.new-message-card .card-header {
  padding: 30px 32px;
  display: flex;
}
.new-message-card .card-header .title {
  font-size: 12px;
  font-weight: 600;
}
.new-message-card .card-header .primary {
  margin-left: auto;
}
.new-message-card .card-header .primary ul {
  list-style-type: none;
  display: flex;
}
.new-message-card .card-header .primary li {
  margin-right: 14px;
}
.new-message-card .card-header .primary li:last-child {
  margin-right: 0;
}
.new-message-card .card-body {
  padding: 30px 32px;
  display: flex;
  flex-direction: row;
}
.new-message-card .card-body input {
  border: none;
  height: 24px;
  width: 100%;
}
.new-message-card .card-body input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 600;
  color: #7e97be;
}
.new-message-card .card-body .new-msg-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(100% - 32px);
  /***** end of form group ****/
}
.new-message-card .card-body .new-msg-form label {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 10px;
  line-height: 24px;
  color: #A0B2CF;
}
.new-message-card .card-body .new-msg-form .form-group {
  display: flex;
}
.new-message-card .card-body .new-msg-form .form-group ul {
  display: flex;
  margin-left: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.new-message-card .card-body .new-msg-form .form-group li {
  margin-right: 10px;
  color: #A0B2CF;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.new-message-card .card-body .new-msg-form .form-group li:last-child() {
  margin-right: 0;
}
.new-message-card .card-body .new-msg-form .subject {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px 0;
  display: flex;
  border-top: 1px solid #EFF2F7;
  border-bottom: 1px solid #EFF2F7;
}
.new-message-card .card-body .new-msg-form .subject p {
  font-size: 12px;
  font-weight: 700;
  color: #3A5683;
}
.new-message-card .card-body .new-msg-form .subject .number {
  background: #F4F7FA;
  padding: 4px 6px;
  margin-left: auto;
  font-size: 10px;
  font-weight: 700;
  color: #A0B2CF;
}
.new-message-card .card-body .email-body {
  height: 336px;
  margin-bottom: 28px;
}
.new-message-card .card-footer {
  background-color: #F4F7FA;
  padding: 24px 24px 32px 24px;
  height: 72px;
  line-height: 24px;
  display: flex;
}
.new-message-card .card-footer .left ul {
  list-style: none;
  display: flex;
}
.new-message-card .card-footer .left li {
  margin-right: 16px;
}
.new-message-card .card-footer .right {
  margin-left: auto;
}
.new-message-card .card-footer .right .tool-bar {
  list-style: none;
  display: flex;
}
.new-message-card .card-footer .right .tool-bar li {
  margin-left: 15px;
  width: 2.75em;
  height: 2.75em;
}
.new-message-card .card-footer .right .tool-bar li:nth-child(5) {
  width: 5.625em;
  height: 2.75em;
}
.new-message-card .card-footer .right .tool-bar .md-primary {
  padding: 12px 10px;
  border: none;
  background: #E1E8FD;
  color: #527af3;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 8px;
}

.light-icon {
  background: url("../img/light-mod-icon.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
  margin-left: 14px;
}

.dark-icon {
  background: url("../img/dark-mod-icon.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
  margin-left: 12px;
}

.volume-icon {
  background: url("../img/volume-icon.png") no-repeat;
  width: 1.75em;
  height: 1.75em;
}

.download-icon {
  background: url("../img/download-icon.png") no-repeat;
  width: 1.75em;
  height: 1.75em;
}

.event-icon {
  background: url("../img/event-icon.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
}

.calendar-icon {
  background: url("../img/calendar-icon.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
}

.chevron-down {
  background: url("../img/chevron-down.png") no-repeat;
  width: 1.0625em;
  height: 0.5em;
  margin-top: 6px;
}

.expand-icon {
  background: url("../img/expand-icon.png") no-repeat;
  width: 1.25em;
  height: 1.25em;
}

.close-icon {
  background: url("../img/close-icon.png");
  width: 1.25em;
  height: 1.25em;
}

.trash-icon {
  background: url("../img/trash-icon.png");
  width: 1.25em;
  height: 1.25em;
}

.more-icon {
  background: url("../img/more-icon.png");
  width: 1.25em;
  height: 1.25em;
}

.template-icon {
  background: url("../img/template-icon.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
}

.tag-user-icon {
  background: url("../img/tag-users.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
}

.attach-icon {
  background: url("../img/attach-file-icon.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
}

.schedule-icon {
  background: url("../img/schedule-icon.png") no-repeat;
  width: 1.5em;
  height: 1.5em;
}
