.light-icon {
    background: url('../img/light-mod-icon.png')no-repeat;

    @include size(24, 24);
    margin-left: 14px;
}

.dark-icon {
    background: url('../img/dark-mod-icon.png') no-repeat;
    @include size(24, 24);
    margin-left: 12px;
}

.volume-icon {
    background: url('../img/volume-icon.png') no-repeat;

    @include size(28, 28)
}

.download-icon {
    background: url('../img/download-icon.png') no-repeat;
    @include size(28, 28);
}

.event-icon {
    background: url('../img/event-icon.png') no-repeat;
    @include size(24,24);
}

.calendar-icon {
    background: url('../img/calendar-icon.png') no-repeat;
    @include size(24, 24);
}

.chevron-down {
    background: url('../img/chevron-down.png') no-repeat;
    @include size(17, 8);

    margin-top: 6px;
}

.expand-icon {
    background: url('../img/expand-icon.png') no-repeat;
    @include size(20, 20);
}

.close-icon {
    background: url('../img/close-icon.png');
    @include size(20, 20);
}

.trash-icon {
    background: url('../img/trash-icon.png');
    @include size(20, 20);
}

.more-icon {
    background: url('../img/more-icon.png');
    @include size(20, 20);
}

.template-icon {
    background: url('../img/template-icon.png') no-repeat;
    @include size(24, 24);
}

.tag-user-icon {
    background: url('../img/tag-users.png') no-repeat;
    @include size(24, 24);
}

.attach-icon {
    background: url('../img/attach-file-icon.png') no-repeat;
    @include size(24, 24);
}

.schedule-icon {
    background: url('../img/schedule-icon.png') no-repeat;
    @include size(24, 24);
}

.figma-icon {
    background: url('../img/figma-logo.png') center center no-repeat;
    @include size(24, 24);

    margin-top: 6px;
}

.bold-icon {
    background: url('../img/bold-icon.png') no-repeat;
    @include size(24, 24);
}

.italic-icon {
    background: url('../img/italic-icon.png') no-repeat;
    @include size(24, 24);
}

.underline-icon {
    background: url('../img/underline-icon.png') no-repeat;
    @include size(24, 24);
}

.user-icon {
    background: url('../img/messages/user-icon.png')  no-repeat;
    @include size(24, 24);
}

.bell-icon {
    background: url('../img/notifications/bell-outline-icon.svg') no-repeat;
    @include size(24, 24);
}