.light-icon {
    background: url('../img/light-mod-icon.png')no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 14px;
}

.dark-icon {
    background: url('../img/dark-mod-icon.png') no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

.volume-icon {
    background: url('../img/volume-icon.png') no-repeat;
    width: 28px;
    height: 28px;
}

.download-icon {
    background: url('../img/download-icon.png') no-repeat;
    width: 20px;
    height: 20px;
}