.event-card {
    position: absolute;
    top: 280px;
    left: 538px;
    background: $clr-light-bg;
    width: 360px;
    // padding: 20px 32px;

    .card-header {
        display: flex;
        flex-direction: row;
        padding: 20px 24px;
        .title {
            font-size: 18px;
            text-transform: capitalize;
            line-height: 44px;
        }

        .event-icon {
            margin-left: auto;
            margin-top: 7px;
        }
    }

    .card-body {
        padding: 0 24px;
        .event-form {
            margin-top: 24px;

            .input-group {
                width: 100%;
                border: 1px solid $clr-base-border;
                display: flex;
                height: 60px;

                .number {
                    margin-left: auto;
                    background: $clr-number-bg;
                    padding: 4px 8px;
                    font-size: 12px;
                    height: 24px;
                    border: 1px solid $clr-base-border;
                    margin-top: 14px;
                    margin-right: 18px;
                }
                input {
                    border: none;
                    text-indent: 15px;
                    text-transform: capitalize;
                    color: #7890B5;
                }
            }

            .button-group {
                display: flex;
                column-gap: 10px;
                border: 1px solid $clr-base-border;
                margin-top: 24px;
            
                button {
                    width: 48%;
                    border: none;
                    padding: 12px 0;
                    color: #57719D;
                    font-weight: bold;
                    text-transform: capitalize;
                }

                .event {
                    background: #FAFBFC;
                }

                .reminder {
                    background: $clr-light-bg;
                }
            }

            .colors {
                margin-top: 25px;

                .title {
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }
            }

            .colors-list {
                display: flex;
                list-style: none;
                li {
                    width: 32px;
                    height: 32px;
                    display: inline-flex;
                    border-radius: 1rem;
                    margin-right: 8px;
                    margin-top: 8px;
                    margin-bottom: 24px;
                    &.red {
                        background: #FB001D;
                    }

                    &.orange {
                        background: $clr-orange;
                    }

                    &.yellow {
                        background: $clr-yellow;
                    }

                    &.green {
                        background: $clr-green;
                    }

                    &.blue {
                        background: $clr-blue;
                    }

                    &.purple {
                        background: $clr-purple;
                    }
                }
            }

            .input-bg {
                padding: 0 24px;
            }

            .input-group {
                .calendar-icon {
                    margin-left: auto;
                    margin-top: 15px;
                    margin-right: 20px;
                }

                
            }
            .times {
                display: flex;
                padding: 0;
                column-gap: 26px;
                margin-top: 24px;
                margin-bottom: 24px;
                .start-time,
                .end-time {
                    width: 48%;
                    
                    input {
                        padding: 8px 0;
                        border: 1px solid $clr-base-border;
                        color: $clr-link;
                        text-indent: 15px;
                    }
                }

                .end-time {
                    margin-left: auto;
                    margin-left: 3px;
                }
            }
        }
    }

    .card-footer {
        display: flex;
        background: $clr-footer-bg;
        padding: 20px 32px;

        a {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 14px;
            color: $clr-link;
            line-height: 40px;
        }
        .button-group {
            margin-left: auto;
            display: flex;
            column-gap: 8px;
            button {
                padding: 12px 20px;
                border-radius: 8px;
                text-transform: capitalize;
                font-weight: 600;
            }
            .md-secondary {
                // padding: 12px 20px;
                border: none;
                background-color: $clr-light-bg;
                color: $clr-secondary-btn-text;
            
            }

            .md-primary {
                background: $clr-primary;
                border: none;
                color: $clr-light-bg;
            }
        }
    }
}