.main-header {
    display: flex;
    background: $clr-dark-bg;
    height: 50px;
    width: 1300px;
    padding-top: 28px;
    padding-left: 36px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}