@import "_vars.scss";
@import "_mixins.scss";

.messenger-card {
    width: 1600px;
    height: 1900px;
    background: $clr-dark-bg;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    // q: how do i center this in the middle of the screen?
    // margin: auto;
    margin: 50px auto;
    color: $clr-light-bg;

    .app-bar,
    .left-sidebar {
        color: $clr-primary;
    }

    .app-bar {
        width: 80px;
        height: 300px;
        
    }

    .main-content {
        display: flex;
        flex-direction: row;
    }
    .left-sidebar {
        width: 389px;
        height: 900px;
        border-right: 1px solid $clr-dark-border;
        border-left: 1px solid $clr-dark-border;
        // padding: 20px;

        .active-users {
            header {
                @include flex();
                padding: 10px 20px;

                span {
                    margin-left: auto;
                    
                }

                .section-title {
                    font-size: px-to-rem(14);
                    text-transform: capitalize;
                    font-weight: 600;
                    margin-right: auto;
                    @include font-color($clr-light-bg);
                }

                .view-all-badge {
                    padding: 4px 12px;
                    
                    font-size: px-to-rem(12);
                    background: #102A4F;
                    border-radius: 16px;
                    text-transform: capitalize;

                    @include font-color(#CDD6E6);
                }
            }
            .user-list {
                @include unstyled-list();
                @include flex();

                max-width: 325px;
                margin-top: 24px;
            }

            li {
                margin-left: -20px;
                
                &:first-child(1) {
                    margin-left: 9px;
                }
            }
        }
    }
}
