@mixin border($size, $color) {}

@function px-to-rem($px, $value: 16) {
    $result: calc($px / $value) * 1em;
    @return $result;
} 

@mixin size($w, $h) {
    width: px-to-rem($w);
    height: px-to-rem($h);
}

@mixin font-color($color) {
    color: $color;
}

@mixin unstyled-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin flex() {
    display: flex;
}