@mixin border($size, $color) {}

@function px-to-rem($px, $value: 16) {
    $result: calc($px / $value) * 1em;
    @return $result;
} 

@mixin size($w, $h) {
    width: px-to-rem($w);
    height: px-to-rem($h);
}