.profile {
    @include flex();
    flex-wrap: wrap;
    max-height: 369px;
    border-bottom: 1px solid $clr-dark-border;
    width: 100%;
    height: 100%;
    background-color: $clr-dark-bg;
    color: $clr-primary;
    padding: 20px;
    box-sizing: border-box;

    .icon-bg {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #102A4F;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr-light-bg;
        font-size: 1.5rem;
    }

    .avatar {
        margin: 40px 15px 0 23px;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        @include unstyled-list();
        margin: 0 auto;
        text-align: center;

        li {
            @include size(44, 44);
            background: #102A4F;
            text-align: center; 
            line-height: 60px;
            border-radius: 22px;
            margin-right: 16px;
        }
    }

    .user-name {
        font-size: px-to-rem(14);
        margin-bottom: 20px;
        width: 100%;
        text-transform: capitalize;
        text-align: center;
        @include font-color($clr-light-bg);
    }

   
}