.profile {
    @include flex();
    flex-wrap: wrap;
    max-height: 369px;
    border-bottom: 1px solid $clr-dark-border;
    width: 100%;
    height: 100%;
    background-color: $clr-dark-bg;
    color: $clr-primary;
    padding: 20px;
    box-sizing: border-box;

    .icon-bg {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #102A4F;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr-light-bg;
        font-size: 1.5rem;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .social-icon {
            width: 24px;
            height: 24px;
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $clr-primary;
            font-size: 1.5rem;
        }
    }

    .user-name {
        font-size: px-to-rem(16);
        margin-bottom: 20px;
        width: 100%;
        text-transform: capitalize;
        text-align: center;
        @include font-color($clr-light-bg);
    }

    .bio {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .btn {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        background-color: $clr-primary;
        color: $clr-light-bg;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
}