.new-message-card {
    background: $clr-light-bg;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 8px;
    //ßdisplay: flex;
    flex-direction: column;

    @include size(552, 582);

    .card-header {
        padding: 30px 32px;

        display: flex;

        .title {
            font-size: 12px;
            font-weight: 600;
        }

        .primary {
            margin-left: auto;

            ul {
                list-style-type: none;
                display: flex;
            }

            li {
                margin-right: 14px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .card-body {
        padding: 30px 32px;
        display: flex;
        flex-direction: row;

       

        input {
            display: flex;
        }

        .new-msg-form {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 300px;
            label { 
                font-size: 12px;
                
            }

            .form-group {
                display: flex;
            }
        }
        
    }

    .card-footer {
        background-color: $clr-footer-bg;
        padding: 14px 24px 10px 24px;
        display: flex;

        .left {
            ul {
                list-style: none;
                display: flex;
            }

            li {
                margin-right: 16px;
            }
        }

        .right {
            margin-left: auto;

            .tool-bar {
                list-style: none;
                display: flex;

                li {
                    margin-left: 15px;
                    @include size(44, 44);

                    &:nth-child(5) {
                        @include size(90, 44);
                    }
                }

                .md-primary {
                    padding: 12px 10px;
                    border: none;
                    background: $clr-send-btn-bg;
                    color: darken($clr-send-btn-bg, 30%);
                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 12px;
                    border-radius: 8px;
                }
            }
        }
    }
}

