.new-message-card {
    background: $clr-light-bg;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 8px;
  //  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // overflow: hidden;
   
    width: 552px;
    height: auto;

    .card-header {
        padding: 30px 32px;

        display: flex;

        .title {
            font-size: 12px;
            font-weight: 600;
        }

        .primary {
            margin-left: auto;

            ul {
                list-style-type: none;
                display: flex;
            }

            li {
                margin-right: 14px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .card-body {
        padding: 0px 32px;
        display: flex;
        flex-direction: column;



        input {
            border: none;
            height: 24px;
            width: 100%;

            &::-webkit-input-placeholder {
                font-size: 12px;
                font-weight: 600;
                color: darken($clr-form-label-text, 10%);
            }
        }

        .new-msg-form {
            // display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: calc(100% - 32px);

            label {
                font-size: 12px;
                text-transform: capitalize;
                font-weight: 600;
                margin-right: 10px;
                line-height: 24px;

                @include font-color($clr-form-label-text);
            }

            .form-group {
                display: flex;

                ul {
                    display: flex;
                    margin-left: 10px;
                    @include unstyled-list();
                }

                li {
                    margin-right: 10px;
                    color: $clr-form-label-text;
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: 600;
                    text-transform: capitalize;
                    &:last-child() {
                        margin-right: 0;
                    }
                }
            } /***** end of form group ****/

            .subject {
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 18px 0;
                display: flex;
            
                border: {
                    top: 1px solid $clr-base-border;
                    bottom: 1px solid $clr-base-border;
                }

                p {
                    font-size: 12px;
                    font-weight: 700;

                    @include font-color($clr-email-subject-text);
                }
                .number {
                    background: #F4F7FA;
                    padding: 4px 6px;
                    margin-left: auto;
                    font-size: 10px;
                    font-weight: 700;
                    @include font-color($clr-form-label-text);
                }
            }
        }

        .email-body {
            height: 336px;
            margin-bottom: 40px - 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 330px - 125px;
            p {
                width: 489px;
                font-size: 12px;
                line-height: 18px;
                margin-top: 10px;
                
                @include font-color($clr-body-copy);

               &.first {
                    margin-top: 0;
                }
               

                a {
                    @include font-color($clr-link-text);

                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

        .attachment {
            display: flex;
            margin-top: 20px;
            .icon {
                @include size(40, 40);

                border: 1px solid $clr-base-border;

                .figma-icon {
                    margin-left: 6px;
                }
            }

            .attachment-name {
                line-height: 40px;
                margin-left: 10px;
                font-size: 12px;
                font-weight: 600;

                @include font-color($clr-body-copy);

            }
        }

    }

    .card-footer {
        background-color: $clr-footer-bg;
        padding: 24px 24px 32px 24px;
        max-height: 72px;
        line-height: 24px;
        display: flex;

        .left {
            ul {
                list-style: none;
                display: flex;
            }

            li {
                margin-right: 16px;
            }
        }

        .right {
            margin-left: auto;
            line-height: 24px;

            .tool-bar {
                list-style: none;
                display: flex;

                li {
                    margin-left: 15px;
                    @include size(44, 44);
                    border: 1px solid $clr-base-border;

                    &:nth-child(5) {
                        @include size(90, 44);
                    }
                }

                .md-primary {
                    padding: 12px 10px;
                    border: none;
                    background: $clr-send-btn-bg;
                    color: darken($clr-send-btn-bg, 30%);
                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 12px;
                    border-radius: 8px;
                    margin-top: -10px;
                }
            }
        }
    }
}