.settings-card {
    @extend .card !optional;

    position: absolute;
    top: 184px;
    left: 114px;

    .card-header {
        display: flex;
        padding: 20px 32px;
        .title {
            font-size: 18px;
            text-transform: capitalize;
            line-height: 44px;
        }

        .button-group {
            margin-left: auto;
            width: 96px;
            height: 44px;
            display: flex;

            button {
                border: 1px solid $clr-base-border;
            }

            .md-secondary {
                // background: #FAFBFC;
                background-color: #fff;
                border-top-left-radius: 22px;
                border-bottom-left-radius: 22px;
                width: 48px;
                height: 44px;
            }

            .md-primary {
                width: 48px;
                height: 44px;

                background: $clr-light-bg;
                border: 1px solid $clr-base-border;
                border-left: 0;
                border-top-right-radius: 22px;
                border-bottom-right-radius: 22px;
            }
        }
    }

    .card-body {
        padding: 20px 32px;
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-top: 0;

            li {
                display: inline-flex;
                padding: 22px 0;
                border-bottom: 1px solid $clr-base-border;

                .left {
                    margin-right: 20px;
                    
                    .icon-bg {
                        width: 64px;
                        height: 64px;
                        border-radius: 32px;
                        padding: 18px;

                        &.first {
                            background: #932BFF;
                        }

                        &.second {
                            background: #00D0AF;
                        }
                    }
                }

                .right {
                   
                    .percent {
                        margin-left: 124px;
                    }
                    .progress-bg {
                        background: $clr-progress-bg;
                        width: 208px;
                        height: 8px;
                        border-radius: 4px;
                        margin-top: 15px;


                        .progress {
                            background: #932BFF;
                            height: 8px;
                            width: 78%;
                            border-radius: 4px;
                        }
                    }
                }   
            }
        }

        .upload {
            display: flex;
            flex-direction: column;
            padding: 24px 20px;
            border-bottom: 1px solid $clr-base-border;
            
            .input-bg {
                border: 1px solid $clr-base-border;
                height: 44px;
                width: 276px;
                background: $clr-input-bg;
                position: relative;
                top: 8px;
                input {
                    width: 180px;
                    border: 1px solid $clr-base-border;
                    background: $clr-input-bg;
                    position: relative;
                    top: 4px;
                    padding: 8px 0;
                    text-indent: 15px;
                    font-weight: bold;
                }
            }

            .md-secondary {
                border: none;
                background: $clr-light-bg;
                margin-left: auto;
                padding: 6px;
                box-shadow: $box-shadow;
                margin-left: 40px;
                
                border: 1px solid $clr-base-border;

                position: absolute;
                top: 4px;
            }
        }
    }

    .card-footer {
        display: flex;
        background: $clr-footer-bg;
        padding: 20px 32px;

        a {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 14px;
            color: $clr-link;
            line-height: 40px;
        }
        .button-group {
            margin-left: auto;
            display: flex;
            column-gap: 8px;
            button {
                padding: 12px 20px;
                border-radius: 8px;
                text-transform: capitalize;
                font-weight: 600;
            }
            .md-secondary {
                // padding: 12px 20px;
                border: none;
                background-color: $clr-light-bg;
                color: $clr-secondary-btn-text;
            
            }

            .md-primary {
                background: $clr-primary;
                border: none;
                color: $clr-light-bg;
            }
        }
    }
}