.table-bdy {
    background: $clr-table-bdy;
    display: grid;
    place-items: center;
    height: 100vh;
}
.users-table {
    display: table;
    border-collapse: collapse;
    color: #fff;
    background: $clr-table-bg;
    padding-bottom: 20px;
    overflow: hidden;
    height: 404px;

    thead {
        border-bottom: 1px solid $clr-table-border;
        height: 67px;
    }

    th {
        font-weight: 400;
        text-align: left;
        padding-left: 20px;
        padding-top: 12px;
        font-size: 12px;
        text-transform: capitalize;

        @include font-color($clr-table-heading);

        &:nth-child(2) {
            width: 81px;
        }
        &:nth-child(3) {
            width: 215px;
        }
        &:nth-child(4) {
            width: 220px;
        }
        &:nth-child(5),
        &:nth-child(6) {
            width: 119px;
        }

        &:nth-child(7) {
            width: 95px;
        }
    }

    td {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        padding: 20px;


        .profile-bg {
            @include size(44, 44);
            border-radius: 22px;
            text-align: center;
            line-height: 30px;
            font-weight: 700;
            text-transform: uppercase;
           
            &.purple {
                background: $clr-purple;
            }

            &.orange {
                background: $clr-orange;
            }

            &.green {
                background: $clr-green;
            }

            &.default-gray {
                background: $clr-default-gray;
                color: $clr-dark-bg;
            }

            // &:nth-child(odd) {

            // }


        }

        .tools {
            @include unstyled-list();
            @include flex();

            li {
                margin-right: 12px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}