$base-font-family: "Inter", sans-serif;

$clr-modal-bg: #E5EAF3;
$clr-light-bg: #fff;

$box-shadow: 0px 60px 120px rgba(38, 51, 77, 0.03);

$clr-base-border: #EFF2F7;

$clr-progress-bg: #D7DEEC;
$clr-footer-bg: #F4F7FA;
$clr-link: #7890B5;
$clr-primary: #932BFF;
$clr-secondary-btn-text: #3A5683;
$clr-input-bg: #FAFBFC;
$clr-number-bg: #F4F7FA;

$clr-red: #FB001D;
$clr-orange: #FF5713;
$clr-yellow: #FFC800;
$clr-green: #00EAC9;
$clr-blue: #00C2FF;
$clr-purple: #932BFF;

$clr-footer-bg: #F4F7FA;
$clr-send-btn-bg: #E1E8FD;
$clr-form-label-text: #A0B2CF;
$clr-email-subject-text: #3A5683;
$clr-link-text: #1F62FF;
$clr-body-copy: #3A5683;

$clr-dark-bg: #051835;
$clr-dark-border: #18345C;